{% macro govukDetails(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

<details {%- if params.id | default(false) %} id="{{params.id}}"{% endif %} class="govuk-details {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}" {{- govukAttributes(params.attributes ?? []) }} {{- params.open ?? false ? " open" : "" }}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ params.summaryHtml | default(false) ? params.summaryHtml | raw : params.summaryText }}
    </span>
  </summary>
  <div class="govuk-details__text">
    {{ params.html | default(false) ? params.html | raw : params.text }}
  </div>
</details>
{% endmacro %}
