{% macro govukErrorMessage(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{%- set visuallyHiddenText = params.visuallyHiddenText is defined and params.visuallyHiddenText is not null ? params.visuallyHiddenText : "Error" -%}

<p {%- if params.id | default(false) %} id="{{ params.id }}"{% endif %} class="govuk-error-message{%- if params.classes | default(false) %} {{ params.classes }}{% endif %}" {{- govukAttributes(params.attributes ?? []) }}>
  {%- if visuallyHiddenText | default(false) ~%}
  <span class="govuk-visually-hidden">{{ visuallyHiddenText }}:</span> {{ params.html | default(false) ? params.html | trim | raw : params.text }}
  {%- else ~%}
  {{ params.html | default(false) ? params.html | trim | raw : params.text }}
  {%- endif ~%}
</p>
{% endmacro %}
