{% macro govukHeader(params) %}
{%- from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}
{%- from "@govuk-frontend-twig/macros/logo.twig" import govukLogo -%}

{%- set _rebrand = params.rebrand | default(false) -%}
{%- set menuButtonText = params.menuButtonText | default('Menu') -%}

<header class="govuk-header {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}" data-module="govuk-header"
  {{- govukAttributes(params.attributes ?? []) }}>
  <div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="govuk-header__logo">
      <a href="{{ params.homepageUrl | default("/", true) }}" class="govuk-header__link govuk-header__link--homepage">
        {{ govukLogo({
          classes: "govuk-header__logotype",
          ariaLabelText: "GOV.UK",
          useTudorCrown: params.useTudorCrown is defined ? params.useTudorCrown : null,
          rebrand: _rebrand
        }) }}
        {%~ if params.productName | default(false) %}
        <span class="govuk-header__product-name">
          {{- params.productName -}}
        </span>
        {%~ endif %}
      </a>
    </div>
  {%- if params.serviceName | default(false) or params.navigation | default(false) ~%}
    <div class="govuk-header__content">
    {%- if params.serviceName | default(false) ~%}
      {%- if params.serviceUrl | default(false) ~%}
      <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
        {{ params.serviceName }}
      </a>
      {%- else ~%}
      <span class="govuk-header__service-name">
        {{ params.serviceName }}
      </span>
      {%- endif ~%}
    {%- endif ~%}
    {%- if params.navigation | default(false) ~%}
      <nav aria-label="{{ params.navigationLabel | default(menuButtonText) }}" class="govuk-header__navigation {%- if params.navigationClasses | default(false) %} {{ params.navigationClasses }}{% endif %}">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" {%- if params.menuButtonLabel | default(false) and params.menuButtonLabel != menuButtonText %} aria-label="{{ params.menuButtonLabel }}"{% endif %} hidden>
          {{ menuButtonText }}
        </button>

        <ul id="navigation" class="govuk-header__navigation-list">
        {%- for item in params.navigation ~%}
          {%- if item.text is defined or item.html is defined ~%}
          <li class="govuk-header__navigation-item{{ item.active is defined ? ' govuk-header__navigation-item--active' : '' }}">
          {%- if item.href is defined ~%}
            <a class="govuk-header__link" href="{{ item.href }}"
              {{- govukAttributes(item.attributes ?? []) }}>
          {%- endif ~%}
              {{ item.html is defined and item.html is not null ? item.html | raw : item.text }}
          {%- if item.href is defined ~%}
            </a>
          {%- endif ~%}
          </li>
          {%- endif ~%}
        {%- endfor ~%}
        </ul>
      </nav>
    {%- endif ~%}
    </div>
    {%- endif ~%}
  </div>
</header>
{% endmacro %}
