{% macro govukHint(params) %}
<div {%- if params.id is defined and params.id is not null %} id="{{ params.id }}"{% endif %} class="govuk-hint {%- if params.classes is defined and params.classes is not null %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes ?? [] %} {{attribute}}="{{value}}"{% endfor %}>
  {{ params.html is defined and params.html is not null ? params.html | raw : params.text }}
</div>
{% endmacro %}
