{% macro govukLabel(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{%- if params.html | default(false) or params.text | default(false) -%}
{%- set labelHtml -%}
<label class="govuk-label {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}"
  {{- govukAttributes(params.attributes ?? []) }}
  {%- if params.for | default(false) %} for="{{ params.for }}"{% endif %}>
  {{ params.html | default(false) ? params.html | raw : params.text }}
</label>
{%- endset -%}

{%- if params.isPageHeading | default(false) %}
<h1 class="govuk-label-wrapper">
  {{ labelHtml | trim | raw }}
</h1>
{%~ else %}
{{ labelHtml | trim | raw }}
{%~ endif ~%}
{%- endif %}
{% endmacro %}
