{% macro govukPanel(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{%- set headingLevel = params.headingLevel | default(1) %}
<div class="govuk-panel govuk-panel--confirmation
  {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}"
  {{- govukAttributes(params.attributes ?? []) }}>
  <h{{ headingLevel }} class="govuk-panel__title">
    {{ params.titleHtml | default(false) ? params.titleHtml | raw : params.titleText }}
  </h{{ headingLevel }}>
  {%- if params.html | default(false) or params.text | default(false) ~%}
  <div class="govuk-panel__body">
    {{ params.html | default(false) ? params.html | raw : params.text }}
  </div>
  {%- endif ~%}
</div>
{% endmacro %}
