{% macro govukRadios(params) %}
{% from "@govuk-frontend-twig/components/error-message.html.twig" import govukErrorMessage %}
{% from "@govuk-frontend-twig/components/fieldset.html.twig" import govukFieldset %}
{% from "@govuk-frontend-twig/components/hint.html.twig" import govukHint %}
{% from "@govuk-frontend-twig/components/label.html.twig" import govukLabel %}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{%- set idPrefix = params.idPrefix | default(params.name) ~%}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{%- set describedBy = params.fieldset.describedBy | default("") ~%}

{#- fieldset is false by default -#}
{%- set hasFieldset = params.fieldset | default(false) ~%}

{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{%- set innerHtml ~%}
{%- if params.hint | default(false) ~%}
  {%- set hintId = "#{idPrefix}-hint" ~%}
  {%- set describedBy = describedBy is empty ? hintId : "#{describedBy} #{hintId}" ~%}
  {{ govukHint({
    id: hintId,
    classes: params.hint.classes | default(null),
    attributes: params.hint.attributes | default(null),
    html: params.hint.html | default(null),
    text: params.hint.text | default(null)
  }) | trim | raw }}
{%- endif ~%}
{%- if params.errorMessage | default(false) ~%}
  {%- set errorId = "#{idPrefix}-error" ~%}
  {%- set describedBy = describedBy is empty ? errorId : "#{describedBy} #{errorId}" ~%}
  {{ govukErrorMessage({
    id: errorId,
    classes: params.errorMessage.classes | default(null),
    attributes: params.errorMessage.attributes | default(null),
    html: params.errorMessage.html | default(null),
    text: params.errorMessage.text | default(null),
    visuallyHiddenText: params.errorMessage.visuallyHiddenText | default(null)
  }) | trim | raw }}
{%- endif ~%}
  <div class="govuk-radios {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes ?? [] %} {{ attribute }}="{{ value }}"{% endfor %} data-module="govuk-radios">
    {%~ for item in params.items ?? [] ~%}
      {%- if item | default(false) ~%}
        {#- If the user explicitly sets an id, use this instead of the regular idPrefix -#}
        {%- if item.id | default(false) -%}
          {%- set id = item.id -%}
        {%- else -%}
          {#- The first id should not have a number suffix so it's easy to link to from the error summary component -#}
          {%- if loop.first -%}
            {%- set id = idPrefix ~%}
          {%- else %}
            {%- set id = "#{idPrefix}-#{loop.index}" -%}
          {%- endif -%}
        {%- endif -%}
        {%- set conditionalId = "conditional-#{id}" ~%}
        {%- if item.divider | default(false) %}
        <div class="govuk-radios__divider">{{ item.divider }}</div>
        {%- else %}
        {%- set isChecked = item.checked is defined ? (item.checked == true ? true : false) : (params.value | default(false) and item.value == params.value ? true : false) ~%}
        {%- set hasHint = item.hint.text | default(false) or item.hint.html | default(false) ~%}
        {%- set itemHintId = "#{id}-item-hint" %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ id }}" name="{{ params.name }}" type="radio" value="{{ item.value }}"
          {{- isChecked ? " checked" : "" }}
          {{- item.disabled | default(false) ? " disabled" : "" }}
          {%- if item.conditional.html | default(false) %} data-aria-controls="{{ conditionalId }}"{% endif -%}
          {%- if hasHint %} aria-describedby="{{ itemHintId }}"{% endif -%}
          {%- for attribute, value in item.attributes ?? [] %} {{ attribute }}="{{ value }}"{% endfor -%}>
          {{ govukLabel({
            html: item.html | default(null),
            text: item.text | default(null),
            classes: "govuk-radios__label#{item.label.classes | default(false) ? ' ' ~ item.label.classes : ''}",
            attributes: item.label.attributes | default(null),
            for: id
          }) | trim | raw }}
          {%- if hasHint ~%}
          {{ govukHint({
            id: itemHintId,
            classes: "govuk-radios__hint#{item.hint.classes | default(false) ? ' ' ~ item.hint.classes : ''}",
            attributes: item.hint.attributes | default(null),
            html: item.hint.html | default(null),
            text: item.hint.text | default(null)
          }) | trim | raw }}
          {%- endif ~%}
        </div>
        {%~ if item.conditional.html | default(false) %}
          <div class="govuk-radios__conditional{% if not isChecked %} govuk-radios__conditional--hidden{% endif %}" id="{{ conditionalId }}">
            {{ item.conditional.html | raw }}
          </div>
        {%~ endif %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  </div>
{% endset -%}

<div class="govuk-form-group {%- if params.errorMessage | default(false) %} govuk-form-group--error{% endif %} {%- if params.formGroup.classes | default(false) %} {{ params.formGroup.classes }}{% endif %}" {%- for attribute, value in params.formGroup.attributes ?? [] %} {{ attribute }}="{{ value }}"{% endfor %}>
{%- if hasFieldset ~%}
  {%- set fieldsetHtml ~%}
    {{- innerHtml | trim | raw }}
  {%- endset ~%}
  {{ govukFieldset({
    html: fieldsetHtml,
    describedBy: describedBy,
    classes: params.fieldset.classes | default(null),
    attributes: params.fieldset.attributes | default(null),
    legend: params.fieldset.legend | default(null)
  }) | trim | raw }}
{%- else ~%}
  {{ innerHtml | trim | raw }}
{%- endif ~%}
</div>
{% endmacro %}
