{% macro govukTabs(params) %}
{% from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{%- macro _tabListItem(params, item, loop) %}
{%- from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
  instead. We need this for error messages and hints as well -#}
{%- set idPrefix = params.idPrefix | default() -%}

{%- set id = item.id | default("#{idPrefix}-#{loop.index}") ~%}
<li class="govuk-tabs__list-item{% if loop.index == 1 %} govuk-tabs__list-item--selected{% endif %}">
  <a class="govuk-tabs__tab" href="#{{ id }}"
    {{- govukAttributes(item.attributes ?? []) }}>
    {{ item.label }}
  </a>
</li>
{% endmacro -%}

{% macro _tabPanel(params, item, loop) %}
{%- from "@govuk-frontend-twig/macros/attributes.twig" import govukAttributes -%}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
  instead. We need this for error messages and hints as well -#}
{%- set idPrefix = params.idPrefix | default() -%}

{%- set id = item.id | default("#{idPrefix}-#{loop.index}") ~%}
<div class="govuk-tabs__panel{% if loop.index > 1 %} govuk-tabs__panel--hidden{% endif %}" id="{{ id }}"
  {{- govukAttributes(item.panel.attributes ?? []) }}>
{%- if item.panel.html | default(false) ~%}
  {{ item.panel.html | trim | raw }}
{%- elseif item.panel.text ~%}
  <p class="govuk-body">{{ item.panel.text }}</p>
{%- endif ~%}
</div>
{% endmacro -%}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}

{%- set idPrefix = params.idPrefix | default() -%}

<div {%- if params.id | default(false) %} id="{{params.id}}"{% endif %} class="govuk-tabs {%- if params.classes | default(false) %} {{ params.classes }}{% endif %}" {{- govukAttributes(params.attributes ?? []) }} data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    {{ params.title | default("Contents") }}
  </h2>
  {%- if params.items | default(false) ~%}
  <ul class="govuk-tabs__list">
    {%- for item in params.items ~%}
      {%- if item | default(false) ~%}
        {{~ _self._tabListItem(params, item, loop) | trim | raw }}
      {%- endif ~%}
    {%- endfor ~%}
  </ul>
  {%- endif ~%}
  {%- for item in params.items ?? [] ~%}
    {%- if item ~%}
      {{~ _self._tabPanel(params, item, loop) | trim | raw }}
    {%- endif ~%}
  {%- endfor ~%}
</div>
{% endmacro %}
